.cover {
  width: 50%;
  margin: 0 auto;
}
.title {
  margin-top: 6rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ef338a;
  text-align: left;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.form > input,
.form > button,
.form > textarea {
  font-family: inherit;
  border: unset;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  resize: vertical;
}
.submit {
  font-size: 1.2rem !important;
  font-weight: 700;
  color: #ef338a;
  background-color: #fff;
}
.submit:hover {
  cursor: pointer;
}
